.list {
  display: flex;
  margin: auto;
  max-width: 1024px;

  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  width: 320px;
  :global(.image) {
    width: 100%;
  }
}
