.list {
  display: flex;
  margin: auto;
  max-width: 1024px;

  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;

  @media (max-width: 890px) {
    .card {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.card {
  width: 320px;
  :global(.ant-image) {
    width: 100%;
  }
}
